/* 전체 기본 스타일 */
html {
  scroll-padding-top: 150px; /* header 높이만큼 설정 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  height: 100%;
}

/* header */
.header-container{
  height: 150px; 
  background-color: #333; 
  color:white;

  display: flex; 
  justify-content: space-around;
  align-items: center;

  position:fixed;
  width: 100%;
  padding: 40px;
}

.header-container h1{
  white-space: nowrap;
}

.menuBar{
  display: flex;
  flex-wrap: nowrap;
}

.menuBar a{
  margin: 30px;
  font-size: 1.5em;
  text-decoration-line : none;
  color:white;
}
.menuBar a:hover{
  color: orange;
}

/*Main intro*/

main{
  padding-top: 150px;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 30px;
  background-color: white;
}

.intro img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

/*Main recipes*/
.recipes{
  background-color: #f9f9f9;
  padding: 30px;
}

.recipes h1{
  text-align: center;
  margin-bottom : 30px;
}

.recipes-container{
  display: flex;
  justify-content: center;
}

/*recipe*/
.recipe{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px grey;
  margin: 0px 30px 30px 10px;
  gap: 10px;
  padding: 20px;
  padding-top: 0px;
  width: 90%;
}
.recipe h1{
  margin-top: 20px;
}
.recipe p{
  color: #666;
}
.recipe img{
  display: block; 
  margin: 10px auto;
}

/*Main contact*/
.contact{
  text-align: center;
  font-size: 1.3em;
  padding: 40px;
  color: #333;
}

.contact p{
  color: #666;
}

/*footer*/
footer {
  display: flex;
  height: 60px;
  background-color: #333;
  color: white;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width : 900px) {
  main .intro {
    flex-direction: column;
    text-align: center;
  }

  .recipes-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


#followMouse{
  transition: transform 0.01s linear; 
  position: fixed;
  width: 40px;
  z-index: 1;
  pointer-events: none;
  top: 0;
  left: 0;
}